@model CartModel

<h6 class="display-4">Shopping Cart</h6>
<hr />
@if (Model.CartItems.Count == 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Cart is Empty
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div>
                <div>
                    <h5 class="font-weight-bold" >Your Tours</h5>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cardItem in Model.CartItems)
                            {
                                <tr>
                                    <td>
                                        <img src="~/img/@cardItem.ImageUrl" width="50" />
                                    </td>
                                    <td>@cardItem.Name</td>
                                    <td>@cardItem.Price</td>
                                    <td>@cardItem.Quantity</td>
                                    <td>@(cardItem.Price*cardItem.Quantity)</td>
                                    <td>
                                        <form asp-controller="Cart" asp-action="DeleteFromCard" method="post">
                                            <input type="hidden" name="productId" value="@cardItem.ProductId" />
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h6>Card Summary</h6>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th>Card Total:</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                    <tr>
                        <th>Shipping:</th>
                        <td>free</td>
                    </tr>
                    <tr>
                        <th>Order Total:</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a href="/home/index" class="btn btn-primary">Continue Shopping</a>
                <a href="#" class="btn btn-warning">Check out</a>

            </div>
        </div>
    </div>
}